omeSola-Dash.json
[{"id":"33acc295.88bebe","type":"tab","label":"ICC-OmeSola","disabled":false,"info":"# Ome Sola Flow"},{"id":"da04bb9e.d326a8","type":"tab","label":"Load Notification","disabled":false,"info":""},{"id":"8edb00cf.573f4","type":"tab","label":"Daily Avg Graph","disabled":false,"info":""},{"id":"198d2e9b.8bf1d1","type":"tab","label":"Status Bar","disabled":false,"info":"# Status of ${inverterName}"},{"id":"f05f4cce.21f31","type":"subflow","name":"MovingAvg","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"93284a2f.12fee8"}]}],"out":[{"x":720,"y":400,"wires":[{"id":"8cd414e4.5deb58","port":0}]}],"env":[{"name":"time","type":"num","value":"10"}],"color":"#DDAA99"},{"id":"581e321b.a54a2c","type":"mqtt-broker","z":"","name":"icc-omesola","broker":"192.168.1.211","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5abd0ebf.daf9c","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.211","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e860cbd5.9f8b98","type":"mqtt-broker","z":"","name":"ICC-MQTT","broker":"192.168.1.211","port":"1883","tls":"","clientid":"nr.dbld.work","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72ab2781.7acc48","type":"mqtt-broker","z":"","name":"ICC-MQTT","broker":"192.168.1.211","port":"1883","tls":"","clientid":"nr.dbld.work","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"99ea9e31.5f43b","type":"mqtt in","z":"33acc295.88bebe","name":"ICC-MQTT","topic":"#","qos":"2","datatype":"auto","broker":"72ab2781.7acc48","x":80,"y":100,"wires":[["6505183e.855f48","42ce5158.6e97d"]]},{"id":"6505183e.855f48","type":"switch","z":"33acc295.88bebe","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Inverter/GridWatts","vt":"str"},{"t":"eq","v":"Inverter/GridVoltage","vt":"str"},{"t":"eq","v":"Inverter/GridFreq","vt":"str"},{"t":"eq","v":"Inverter/LoadWatts","vt":"str"},{"t":"eq","v":"Inverter/InverterVolts","vt":"str"},{"t":"eq","v":"Inverter/InverterFreq","vt":"str"},{"t":"eq","v":"Inverter/LoadPercentage","vt":"str"},{"t":"eq","v":"Inverter/PvWattsTotal","vt":"str"},{"t":"eq","v":"Inverter/MPPT1_Volts","vt":"str"},{"t":"eq","v":"Inverter/MPPT1_Amps","vt":"str"},{"t":"eq","v":"Pylontech/Volts","vt":"str"},{"t":"eq","v":"Pylontech/SOC","vt":"str"},{"t":"eq","v":"Pylontech/Amps","vt":"str"},{"t":"eq","v":"Pylontech/Watts","vt":"str"},{"t":"eq","v":"Pylontech/Cycles","vt":"str"},{"t":"eq","v":"Pylontech/Temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":230,"y":160,"wires":[["ab57b574.aa03c8","12eee1de.53605e","7a3039b2.2c6f18","1c18d02b.4f39a"],["7d0dd208.a33f4c"],["3fceaabe.776166"],["17d8724b.b2a87e","c5b85ca8.ce711"],["5f301ac2.08a904"],["975d1f70.a96ce"],["6ef2a34d.d0932c","48fb1a9a.750cf4"],["6c2865a1.e3d14c","e091b39a.5eee"],["664fcf40.59cfc"],["ca6d5185.d6061"],["f41432b0.79e02"],["4d53b4e7.083dec"],["29b5e722.bac598"],["9ea4c7f4.e6a7c8","e4b5af27.67a19"],["10f5ec6.f18d614"],["fd52e694.89e8e8"]],"outputLabels":["1.GridWatts","","","2.LoadWatts","","","","3.PvWattsTotal","","","","","","4.BatteryWatts","",""]},{"id":"1c18d02b.4f39a","type":"debug","z":"33acc295.88bebe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":820,"wires":[]},{"id":"741f82a.395b87c","type":"join","z":"f05f4cce.21f31","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"${time}","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":430,"y":320,"wires":[["8cd414e4.5deb58"]]},{"id":"fa60cddf.a55d2","type":"change","z":"f05f4cce.21f31","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["741f82a.395b87c"]]},{"id":"8cd414e4.5deb58","type":"change","z":"f05f4cce.21f31","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$average(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":420,"wires":[[]]},{"id":"1f4230d4.ce62ef","type":"inject","z":"33acc295.88bebe","name":"setAllows","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":720,"wires":[["6a1f59f3.a848b8","f6a97b07.f1a7a8","675b7bf8.72d344"]]},{"id":"6a1f59f3.a848b8","type":"change","z":"33acc295.88bebe","name":"","rules":[{"t":"set","p":"allowLoad","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":840,"wires":[[]]},{"id":"f6a97b07.f1a7a8","type":"change","z":"33acc295.88bebe","name":"","rules":[{"t":"set","p":"allowPV","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":900,"wires":[[]]},{"id":"675b7bf8.72d344","type":"change","z":"33acc295.88bebe","name":"","rules":[{"t":"set","p":"allowBattery","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":960,"wires":[[]]},{"id":"c5b85ca8.ce711","type":"switch","z":"33acc295.88bebe","name":"allowLoad","property":"allowLoad","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":620,"wires":[["ba0c160b.4e4d78","12eee1de.53605e","1c18d02b.4f39a"]]},{"id":"7a3039b2.2c6f18","type":"change","z":"33acc295.88bebe","name":"","rules":[{"t":"set","p":"allowLoad","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":260,"wires":[[]]},{"id":"ba0c160b.4e4d78","type":"change","z":"33acc295.88bebe","name":"","rules":[{"t":"set","p":"allowPV","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":320,"wires":[[]]},{"id":"97820caf.e5043","type":"change","z":"33acc295.88bebe","name":"","rules":[{"t":"set","p":"allowBattery","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":420,"wires":[[]]},{"id":"e091b39a.5eee","type":"switch","z":"33acc295.88bebe","name":"allowPV","property":"allowPV","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":700,"wires":[["97820caf.e5043","12eee1de.53605e","1c18d02b.4f39a"]]},{"id":"e4b5af27.67a19","type":"switch","z":"33acc295.88bebe","name":"allowBattery","property":"allowBattery","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":760,"wires":[["12eee1de.53605e","1c18d02b.4f39a"]]},{"id":"48fb1a9a.750cf4","type":"link out","z":"33acc295.88bebe","name":"","links":["4b66412.50446c"],"x":1395,"y":80,"wires":[]},{"id":"e1bced91.e79f5","type":"switch","z":"da04bb9e.d326a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"79","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":160,"wires":[["61a34d9c.79b8d4"]]},{"id":"eda0f2db.9084d","type":"subflow:f05f4cce.21f31","z":"da04bb9e.d326a8","name":"","env":[],"x":190,"y":140,"wires":[["e1bced91.e79f5"]]},{"id":"4b66412.50446c","type":"link in","z":"da04bb9e.d326a8","name":"","links":["48fb1a9a.750cf4"],"x":55,"y":340,"wires":[["eda0f2db.9084d"]]},{"id":"42ce5158.6e97d","type":"link out","z":"33acc295.88bebe","name":"","links":["15aa2621.7333da","f7c9ec3.fb0991"],"x":95,"y":520,"wires":[]},{"id":"112a08af.931377","type":"subflow:f05f4cce.21f31","z":"8edb00cf.573f4","name":"PV Watts","env":[{"name":"time","value":"30","type":"num"}],"x":600,"y":380,"wires":[["7840a9b2.670f68","4105e5e4.f8748c"]]},{"id":"9cf59cac.70e71","type":"subflow:f05f4cce.21f31","z":"8edb00cf.573f4","name":"GridWatts","env":[{"name":"time","value":"30","type":"num"}],"x":600,"y":160,"wires":[["dbd91f10.9f051","7ac12723.d8a128"]]},{"id":"896d919c.f8f59","type":"subflow:f05f4cce.21f31","z":"8edb00cf.573f4","name":"Load Watts","env":[{"name":"time","value":"30","type":"num"}],"x":610,"y":260,"wires":[["a11aefcc.11f5f","fc3bb221.d448e"]]},{"id":"dfdf1d94.ae557","type":"subflow:f05f4cce.21f31","z":"8edb00cf.573f4","name":"Battery Watts","env":[{"name":"time","value":"30","type":"num"}],"x":600,"y":520,"wires":[["2ffc0f4f.13151"]]},{"id":"44ab6a6.ebd8c94","type":"comment","z":"8edb00cf.573f4","name":"Grid Is RED","info":"","x":610,"y":200,"wires":[]},{"id":"59f56505.67528c","type":"comment","z":"8edb00cf.573f4","name":"Load Is Blue","info":"","x":610,"y":300,"wires":[]},{"id":"b170f9d9.ec9868","type":"comment","z":"8edb00cf.573f4","name":"PV Is GREEN","info":"","x":590,"y":420,"wires":[]},{"id":"f5b3bc3a.76f55","type":"comment","z":"8edb00cf.573f4","name":"Battery Is Purple","info":"","x":600,"y":560,"wires":[]},{"id":"a11aefcc.11f5f","type":"switch","z":"8edb00cf.573f4","name":"allowLoadAvg","property":"allowLoadAvg","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":520,"wires":[["dbd91f10.9f051","7ac12723.d8a128"]]},{"id":"b4ba9bc0.7309f8","type":"inject","z":"8edb00cf.573f4","name":"setAllowsAvg","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":440,"wires":[["1e8ffa17.4079c6","50369ff4.b71fd","55d8d437.6d545c"]]},{"id":"1e8ffa17.4079c6","type":"change","z":"8edb00cf.573f4","name":"","rules":[{"t":"set","p":"allowLoadAvg","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":520,"wires":[[]]},{"id":"50369ff4.b71fd","type":"change","z":"8edb00cf.573f4","name":"","rules":[{"t":"set","p":"allowPVAvg","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":580,"wires":[[]]},{"id":"55d8d437.6d545c","type":"change","z":"8edb00cf.573f4","name":"","rules":[{"t":"set","p":"allowBatteryAvg","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":620,"wires":[[]]},{"id":"15aa2621.7333da","type":"link in","z":"8edb00cf.573f4","name":"","links":["42ce5158.6e97d"],"x":155,"y":200,"wires":[["b04765e0.bb2828"]]},{"id":"b04765e0.bb2828","type":"switch","z":"8edb00cf.573f4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Inverter/GridWatts","vt":"str"},{"t":"eq","v":"Inverter/LoadWatts","vt":"str"},{"t":"eq","v":"Inverter/PvWattsTotal","vt":"str"},{"t":"eq","v":"Pylontech/Watts","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":160,"wires":[["9cf59cac.70e71","5c94e3f3.9750ec"],["896d919c.f8f59"],["112a08af.931377"],["dfdf1d94.ae557"]],"outputLabels":["1.GridWatts","2.LoadWatts","3.PvWattsTotal","4.BatteryWatts"]},{"id":"5c94e3f3.9750ec","type":"change","z":"8edb00cf.573f4","name":"","rules":[{"t":"set","p":"allowLoadAvg","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":80,"wires":[[]]},{"id":"fc3bb221.d448e","type":"change","z":"8edb00cf.573f4","name":"","rules":[{"t":"set","p":"allowPVAvg","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":180,"wires":[["c9d82640.98a718"]]},{"id":"7840a9b2.670f68","type":"change","z":"8edb00cf.573f4","name":"","rules":[{"t":"set","p":"allowBatteryAvg","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":260,"wires":[[]]},{"id":"93284a2f.12fee8","type":"batch","z":"f05f4cce.21f31","name":"PVWattsTotal-Chg","mode":"interval","count":10,"overlap":0,"interval":"${time}","allowEmptySequence":false,"topics":[],"x":190,"y":340,"wires":[["fa60cddf.a55d2"]]},{"id":"7ac12723.d8a128","type":"debug","z":"8edb00cf.573f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":660,"wires":[]},{"id":"c9d82640.98a718","type":"debug","z":"8edb00cf.573f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"$flowContext(\"allowBatteryAvg\")","targetType":"jsonata","x":1460,"y":600,"wires":[]},{"id":"4105e5e4.f8748c","type":"switch","z":"8edb00cf.573f4","name":"allowPVAvg","property":"allowPVAvg","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":580,"wires":[["dbd91f10.9f051","7ac12723.d8a128"]]},{"id":"2ffc0f4f.13151","type":"switch","z":"8edb00cf.573f4","name":"allowBatteryAvg","property":"allowBatteryAvg","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":640,"wires":[["7ac12723.d8a128","dbd91f10.9f051"]]},{"id":"f7c9ec3.fb0991","type":"link in","z":"198d2e9b.8bf1d1","name":"","links":["42ce5158.6e97d"],"x":175,"y":20,"wires":[["346c2a2a.a4eb96"]]},{"id":"346c2a2a.a4eb96","type":"switch","z":"198d2e9b.8bf1d1","name":"Inverter Status","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Inverter/Name","vt":"str"},{"t":"eq","v":"Inverter/InverterMode","vt":"str"},{"t":"eq","v":"Inverter/GridKwUse","vt":"str"},{"t":"eq","v":"Inverter/BatteryKwUse","vt":"str"},{"t":"eq","v":"Inverter/SolarKwUse","vt":"str"},{"t":"eq","v":"Inverter/TotalKwUse","vt":"str"},{"t":"eq","v":"Inverter/MaxLoadDay","vt":"str"},{"t":"eq","v":"Inverter/MaxPvDay","vt":"str"},{"t":"eq","v":"Inverter/Solar_Efficiency","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":140,"y":200,"wires":[["a1799f35.30f31","d9a72bac.2330a8"],["92fd7e10.3e05e","d9a72bac.2330a8"],["f008d787.2855d8","d9a72bac.2330a8"],["a0bcb5ec.018408"],["c3e909ff.f422f8"],["6043cf3b.547a1"],["352e701a.ed1b5"],["c8379f55.bbd79"],["f280de16.adf16"]],"outputLabels":["name","mode","","","","","","",""]},{"id":"d961f3d0.37177","type":"debug","z":"198d2e9b.8bf1d1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":920,"wires":[]},{"id":"de6f85aa.92f098","type":"template","z":"198d2e9b.8bf1d1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div style=\"display: grid;\">\n<div style=\"grid-column: 1 / 4;\">{{payload.Inverter/Name}}</div> \n<div style=\"grid-column: 2 / 3;\">{{payload.Inverter/InverterMode}}</div>\n<div>{{payload.Inverter/GridKwUse}}</div>\n</div>","output":"str","x":280,"y":780,"wires":[["d236c3f3.ddc12","d961f3d0.37177"]]},{"id":"d9a72bac.2330a8","type":"join","z":"198d2e9b.8bf1d1","name":"Stuff","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":180,"y":640,"wires":[["de6f85aa.92f098","d961f3d0.37177"]]},{"id":"7d0dd208.a33f4c","type":"ui_text","z":"33acc295.88bebe","group":"a1feb31.562575","order":2,"width":3,"height":2,"name":"","label":"Voltage","format":"{{msg.payload}}","layout":"col-center","x":640,"y":60,"wires":[]},{"id":"3fceaabe.776166","type":"ui_text","z":"33acc295.88bebe","group":"a1feb31.562575","order":3,"width":3,"height":2,"name":"","label":"Freq","format":"{{msg.payload}}","layout":"col-center","x":630,"y":100,"wires":[]},{"id":"5f301ac2.08a904","type":"ui_text","z":"33acc295.88bebe","group":"7b13569a.6042d8","order":2,"width":2,"height":2,"name":"","label":"Voltage","format":"{{msg.payload}}","layout":"col-center","x":860,"y":180,"wires":[]},{"id":"975d1f70.a96ce","type":"ui_text","z":"33acc295.88bebe","group":"7b13569a.6042d8","order":4,"width":2,"height":2,"name":"","label":"Freq","format":"{{msg.payload}}","layout":"col-center","x":850,"y":220,"wires":[]},{"id":"664fcf40.59cfc","type":"ui_text","z":"33acc295.88bebe","group":"71f6aa02.8267b4","order":2,"width":3,"height":2,"name":"","label":"Volts","format":"{{msg.payload}}","layout":"col-center","x":630,"y":480,"wires":[]},{"id":"ca6d5185.d6061","type":"ui_text","z":"33acc295.88bebe","group":"71f6aa02.8267b4","order":3,"width":3,"height":2,"name":"","label":"Amps","format":"{{msg.payload}}","layout":"col-center","x":630,"y":520,"wires":[]},{"id":"29b5e722.bac598","type":"ui_text","z":"33acc295.88bebe","group":"92201531.f9b968","order":3,"width":3,"height":1,"name":"","label":"Amps","format":"{{msg.payload}}","layout":"col-center","x":570,"y":680,"wires":[]},{"id":"9ea4c7f4.e6a7c8","type":"ui_text","z":"33acc295.88bebe","group":"92201531.f9b968","order":4,"width":3,"height":1,"name":"","label":"Watts","format":"{{msg.payload}}","layout":"col-center","x":570,"y":720,"wires":[]},{"id":"fd52e694.89e8e8","type":"ui_text","z":"33acc295.88bebe","group":"92201531.f9b968","order":5,"width":3,"height":1,"name":"","label":"Temp","format":"{{msg.payload}}","layout":"col-center","x":570,"y":800,"wires":[]},{"id":"10f5ec6.f18d614","type":"ui_text","z":"33acc295.88bebe","group":"92201531.f9b968","order":6,"width":3,"height":1,"name":"","label":"Cycles","format":"{{msg.payload}}","layout":"col-center","x":570,"y":760,"wires":[]},{"id":"a1799f35.30f31","type":"ui_text","z":"198d2e9b.8bf1d1","group":"6a5b0a19.9ee824","order":1,"width":10,"height":1,"name":"","label":"Name","format":"{{msg.payload}}","layout":"col-center","x":430,"y":100,"wires":[]},{"id":"92fd7e10.3e05e","type":"ui_text","z":"198d2e9b.8bf1d1","group":"6a5b0a19.9ee824","order":2,"width":12,"height":1,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"col-center","x":430,"y":140,"wires":[]},{"id":"f008d787.2855d8","type":"ui_text","z":"198d2e9b.8bf1d1","group":"6a5b0a19.9ee824","order":9,"width":2,"height":2,"name":"","label":"GridKw","format":"{{msg.payload}}","layout":"col-center","x":440,"y":200,"wires":[]},{"id":"c8379f55.bbd79","type":"ui_text","z":"198d2e9b.8bf1d1","group":"6a5b0a19.9ee824","order":6,"width":2,"height":2,"name":"","label":"Max PV","format":"{{msg.payload}}","layout":"col-center","x":440,"y":400,"wires":[]},{"id":"352e701a.ed1b5","type":"ui_text","z":"198d2e9b.8bf1d1","group":"6a5b0a19.9ee824","order":7,"width":"5","height":2,"name":"","label":"Inverter Max Load","format":"{{msg.payload}}","layout":"col-center","x":470,"y":360,"wires":[]},{"id":"6043cf3b.547a1","type":"ui_text","z":"198d2e9b.8bf1d1","group":"6a5b0a19.9ee824","order":11,"width":3,"height":2,"name":"","label":"Total KW","format":"{{msg.payload}}","layout":"col-center","x":440,"y":320,"wires":[]},{"id":"a0bcb5ec.018408","type":"ui_text","z":"198d2e9b.8bf1d1","group":"6a5b0a19.9ee824","order":8,"width":"3","height":2,"name":"","label":"Battery KW","format":"{{msg.payload}}","layout":"col-center","x":450,"y":240,"wires":[]},{"id":"c3e909ff.f422f8","type":"ui_text","z":"198d2e9b.8bf1d1","group":"6a5b0a19.9ee824","order":10,"width":2,"height":2,"name":"","label":"Solar KW","format":"{{msg.payload}}","layout":"col-center","x":440,"y":280,"wires":[]},{"id":"f280de16.adf16","type":"ui_text","z":"198d2e9b.8bf1d1","group":"6a5b0a19.9ee824","order":5,"width":"4","height":2,"name":"","label":"Solar Efficiency","format":"{{msg.payload}}","layout":"col-center","x":460,"y":440,"wires":[]},{"id":"ab57b574.aa03c8","type":"ui_gauge","z":"33acc295.88bebe","name":"","group":"a1feb31.562575","order":1,"width":0,"height":0,"gtype":"gage","title":"Grid","label":"Watts","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1200","seg2":"2500","x":630,"y":20,"wires":[]},{"id":"17d8724b.b2a87e","type":"ui_gauge","z":"33acc295.88bebe","name":"","group":"7b13569a.6042d8","order":1,"width":0,"height":0,"gtype":"gage","title":"Load","label":"Watts","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1200","seg2":"2500","x":850,"y":140,"wires":[]},{"id":"6c2865a1.e3d14c","type":"ui_gauge","z":"33acc295.88bebe","name":"","group":"71f6aa02.8267b4","order":1,"width":0,"height":0,"gtype":"gage","title":"PV","label":"Watts","format":"{{value}}","min":0,"max":"3500","colors":["#ca3838","#e6e600","#00b500"],"seg1":"800","seg2":"2000","x":630,"y":440,"wires":[]},{"id":"6ef2a34d.d0932c","type":"ui_gauge","z":"33acc295.88bebe","name":"","group":"7b13569a.6042d8","order":3,"width":2,"height":2,"gtype":"gage","title":"Load %","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"33","seg2":"66","x":850,"y":260,"wires":[]},{"id":"f41432b0.79e02","type":"ui_gauge","z":"33acc295.88bebe","name":"","group":"92201531.f9b968","order":1,"width":3,"height":4,"gtype":"gage","title":"Volts","label":"V","format":"{{value}}","min":"45","max":"54","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":570,"y":580,"wires":[]},{"id":"4d53b4e7.083dec","type":"ui_gauge","z":"33acc295.88bebe","name":"","group":"92201531.f9b968","order":2,"width":3,"height":4,"gtype":"gage","title":"SOC","label":"V","format":"{{value}}","min":"0","max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":570,"y":620,"wires":[]},{"id":"12eee1de.53605e","type":"ui_chart","z":"33acc295.88bebe","name":"","group":"c6eff04a.ab8d7","order":1,"width":0,"height":0,"label":"Graph","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"8600","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#d62728","#1f77b4","#2ca02c","#864fb7","#98df8a","#791718","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1410,"y":540,"wires":[[]]},{"id":"dbd91f10.9f051","type":"ui_chart","z":"8edb00cf.573f4","name":"","group":"e64684d0.2951d8","order":1,"width":0,"height":0,"label":"Daily chart one minute AVG","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#d62728","#1873b2","#2ca02c","#6b3b97","#98df8a","#d29090","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1160,"y":440,"wires":[[]]},{"id":"d236c3f3.ddc12","type":"ui_template","z":"198d2e9b.8bf1d1","d":true,"group":"6a5b0a19.9ee824","name":"","order":14,"width":16,"height":1,"format":"<div ng-bind-html=\"msg.payload\" \nstyle=\"background-color:red;\">\n    \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":780,"wires":[[]]},{"id":"61a34d9c.79b8d4","type":"prowl","z":"da04bb9e.d326a8","title":"ICC-OmeSola","priority":"2","url":"","name":"LoadHighNotification","x":540,"y":300,"wires":[]}]